body{
  background-color: black !important ;
  color : white !important

}
.nav-item{
  color:rgb(141, 51, 51);
  text-decoration: none;
  margin-right: 20px;
}
.banner{
  height: 600px;
  display: flex;
  align-items: center;
}
.banner::before{
  position: absolute;
  left:0;
  width:100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right,black,transparent);

}

.banner-info{
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}
.card{
  width:80%;
  height: 250%;
}

.overlay{
  opacity: 0;
  
}
/* .cardmove:hover{
    transform: scale(1.1);
    z-index: 1;
  } */

.card:hover .overlay{
  opacity: 1;
  background: rgba(43,41,41,0.9);
  width: 100%;
  height: 100%;
}
.search{
  width:100px;
}

.card{
  cursor: pointer;
  /* background-size: cover; */
}


.card_title{
  font-size: x-small;
}

.movie-img{
  display: flex;
  justify-content: flex-end;
}

.movie-overview:after{
  content: "";
  display: block;
  width: 500px;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}
.movie-overview{
  width: 500px;
}
.movie:after{
  content: "";
  display: block;
  width: 500px;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}
.movie-badge{
  width: 15%;
  
}
.movie-low{
  /* padding: 10px; */
  margin-bottom: 10px;
}
.movie-detail{
  display: flex;
  justify-content:center;
  padding: 50px;
}

.movie-reviewline:after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  margin: 20px 0px;

}
.movie-review3 {
  border-style: solid;
  padding: 4%;
  margin: 20px 0px;
  
}
.movie-review2 {
  width: 90%;
  margin-left: 5%;
  font-size: smaller;
}
.movie-recommendation{
  width: 110%; 
  margin-bottom: 10px;
  
}
.moviebanner{
  height: 450px;
  width: 300px;
  margin-bottom: 10px;
}
.moviebanner::before{
  position: absolute;
  /* left:1; */
  width:35%;
  height: 450px;
  content: '';
  background: linear-gradient(to right,rgb(0, 0, 0),transparent);
}
.movietext{
  position: relative;
  width:70%;
  z-index: 1 ;
  white-space:normal;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moviecard{
  display: flex;
}
.movie-left{
  margin-top: 80px;
  margin-left: 400px;
}
.movie-h2{
  margin-left: 10px;
  position: relative;
font-size: x-large;
}
.movie-img{
  position: relative;
}
.movie-main{
  display: flex;
  padding-top: 10px;
}
.movie-line{
  position: relative;
}
.movie-popularity{
font-weight: 900;
margin: 10px;
font-family: "Noto Sans CJK KR";
}
.movie-adult{
  font-weight: 900;
  font-family: "Noto Sans CJK KR";
  color:rgb(161, 21, 21);
  font-style: italic;
}
.sort{
  padding: 50px;
}
