body{
  background-color: black !important ;
  color : white !important

}
.nav-item{
  color:rgb(141, 51, 51);
  text-decoration: none;
  margin-right: 20px;
}
.banner{
  height: 600px;
  display: flex;
  align-items: center;
}
.banner::before{
  position: absolute;
  left:0;
  width:100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right,black,transparent);

}

.banner-info{
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}
.card{
  width:80%;
  height: 250%;
}

.overlay{
  opacity: 0;
}
 
/* .card:hover  {
  transform: scale(1.1);
  z-index: 1; 
} */


.card:hover .overlay{
  opacity: 1;
  background: rgba(43,41,41,0.9);
  width: 100%;
  height: 100%;

}
.search{
  width:100px;
}

.card{
  cursor: pointer;
  /* background-size: cover; */
}


.card_title{
  font-size: x-small;
}

.movie-img{
  display: flex;
  justify-content: flex-end;
}
.movie-genre{
  margin: 3px;
}
.movie-overview:after{
  content: "";
  display: block;
  width: 500px;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}
.movie-overview{
  width: 500px;
}
.movie:after{
  content: "";
  display: block;
  width: 500px;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}
.movie-badge{
  width: 15%;
  
}
.movie-low{
  /* padding: 10px; */
  margin-bottom: 10px;
}
.movie-detail{
  display: flex;
  justify-content:center;
  padding: 50px;
}

.movie-reviewline:after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  margin: 20px 0px;

}
.movie-preview::before{
  content: "";
  display: block;
  width:85%;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}
.movie-preview-button{
  margin: 30px 120px;
  width: 40%;
}

.movie-review3 {
  border-style: solid;
  padding: 4%;
  margin: 20px 0px;
  cursor: pointer;
}
.movie-review2 {
  width: 90%;
  margin-left: 5%;
  font-size: smaller;
}
.movie-recommendation{
  height: 60%;
  margin-bottom: -250px;
  margin-left: 10%;
}

.moviebanner{
  height: 510px;
  width: 350px;
  margin-bottom: 15px;
  border-radius:10%;
  background-size: 100%;
}

.movie-total{
  padding: 30px;
  background: linear-gradient(to right,rgb(0, 0, 0),transparent);
  height: 510px;
  border-radius:10%
}
.movietext{
  position: relative;
  width:70%;
  z-index: 1 ;
  white-space:normal;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.moviecard{
  display: flex;
  width: 95%;
}

.movie-h2{
  margin-left: 10px;
  position: relative;
font-size: x-large;
}
.movie-img{
  position: relative;
}
.movie-main{
  display: flex;
  padding-top: 20px;
  /* padding-left: 10px; */
}
.movie-line{
  position: relative;
}
.movie-popularity{
  font-weight: 900;
  margin: 10px;
  font-family: "Noto Sans CJK KR";
}
.movie-adult{
  font-weight: 900;
  font-family: "Noto Sans CJK KR";
  color:rgb(161, 21, 21);
  font-style: italic;
}
.filter{
  content: "";
  display: block;
  width: 35%;
  height: 180px;
  border: 2px solid white;
  margin: 60px 45%;
  border-radius:10%
}
.genres{
  content: "";
  display: block;
  width: 35%;
  height: 410px;
  border: 2px solid white;
  margin: 60px 45%;
  border-radius:10%
}

.title::after{
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 5px;
}

.title{
  margin: 15px;
  color: red;
}
.sort{
  color: #FFF !important;
}
.genre_button{
  padding-left: 20px;
}





.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #FFF;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: black;
}

 ul.pagination li.active {
   background-color: red; 
} 


/* .page-selection {
  width: 48px;
  height: 30px;
  color: red;
} */